<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.cristiangarcia.bibliareinavalera">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.LibroActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.GuiaActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.BusquedaActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".audiodown.AudioActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.ConfigActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.InterstitialActivity"
            android:configChanges="orientation|screenSize" />

        <service android:name=".service.PlayService" />
        <service android:name=".audiodown.DownService" />
        <service android:name=".service.GetDataService" />

        <activity android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>